<?xml version="1.0"?>
<model>
  <name>purdue_racetrack</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Tomas Nagy</name>
    <email>nagytom4@fel.cvut.cz</email>
  </author>
  <description>
    The official racetrack for Purdue evGrand Prix Autonomous 2022.
  </description>
</model>
